//measures device
//-mobile:480px
$maxw-mobile: 576px;
$minw-mobile: 320px;
//-tablet:1199-810
$maxw-tablet: 577px;
$minw-tablet: 992px;
//-desktop:1200px

//primary colors
$turquesa: #3EF2D0;
$turquesa_transparent: #3ef2d180;
$gris: #BBC9D6;
$blanco: #FFFFFF;
$negro: #000000;
$black-soft: #101114;
$orange: #F5515F;
$gray-soft: #c2c6c7;
$gray-very-soft: #fafafa;
//fonts 
$box-shadow-big: 0px 1px 32px -7px rgba(0, 0, 0, 0.75);
$box-shadow-small: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
;
$font-family-poppins: 'Poppins', sans-serif;
//weight:700,400
$font-size-paragraph: 1.6rem;

//helpers
@mixin ico_img($w, $h, $url) {
    display: flex;
    width: $w;
    height: $h;
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

%h2 {
    font-family: $font-family-poppins;
    font-size: 2.4rem;
    font-weight: 700;
}

html {
    font-size: 62.5%;
    font-family: $font-family-poppins;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: $font-family-poppins;
    font-size: $font-size-paragraph;
}



.encabezado {
    width: 100vw;
    height: 100vh;
    max-width: $maxw-mobile;
    min-width: $minw-mobile;
    margin: auto;

    nav {
        background-color: $black-soft;
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px;

        .span-logo {
            font-size: 2.4rem;
            color: $blanco;
            font-weight: 700;
        }

        .ico-menu {
            @include ico_img(2.4rem, 2.4rem, "../assets/ico/icon-hamburger.svg")
        }

    }

    .section-hero {
        width: 100%;
        height: calc(100vh - 75px);
        position: relative;




        .div-hero--img {
            /*fondo calavera btc*/
            background-image: url("../imagenes/BTC-greenopease-mobile.jpg");
            filter: opacity(.5) blur(5px);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            z-index: 0;
            width: 100%;
            height: 100%;
        }

        .div-hero--slogan {
            padding: 0px 16px;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;

            h1 {
                font-size: 4.2rem;
                font-weight: 700;

            }

            p {
                text-align: center;
                font-size: 1.7rem;
            }




            /* Halvin clock*/

            .div-clok--container {

                margin: 12px auto;

                height: fit-content;
                width: fit-content;
                //background-color: $turquesa_transparent;
                //border-radius: 12px;
                //box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75) inset;


                .text-rewards-halvin {
                    font-family: $font-family-poppins;
                    color: $black-soft;
                    font-weight: 700;
                    margin-top: 0px;
                }

                .text-halvin {
                    font-family: $font-family-poppins;
                    color: $black-soft;
                    font-weight: 700;
                    margin-bottom: 36px;
                }


                .clock {

                    width: 100%;
                }

                .flip-clock-wrapper {
                    margin: 16px 0px;

                    ul {
                        margin: 2px;

                        li {
                            line-height: 65px;

                            a {
                                .up {

                                    .inn {
                                        font-size: 40px;
                                    }

                                }

                                .down {
                                    .inn {
                                        font-size: 40px;
                                    }
                                }
                            }
                        }
                    }

                    .flip-clock-divider {
                        width: 10px;
                        height: 90px;

                        .flip-clock-label {
                            right: -50px;
                        }


                    }

                    .days {
                        width: 0px;
                    }

                    .hours {
                        .flip-clock-dot {
                            left: 0;
                        }

                        .top {
                            top: 20px;
                        }

                        .bottom {
                            top: 40px;
                        }
                    }

                    .minutes {
                        @extend .hours;
                    }

                    .seconds {
                        @extend .hours;
                    }


                }

                .clock {

                    .flip {
                        width: 30px;
                        height: 60px;
                    }
                }

            }

            .button {
                /*botones turquezas*/
                border: 1px solid $turquesa;
                background-color: $turquesa;
                color: $negro;
                width: 100%;
                padding: 16px 24px;
                margin-top: 3rem;
                font-weight: 600;
                border-radius: 6px;
                text-decoration: none;
                display: flex;
                font-size: 1.7rem;
                justify-content: center;

                .ico-arrow-forward {
                    margin-left: 12px;
                    @include ico_img(24px, 24px, "../assets/ico/arrow_forward.svg")
                }

                &:hover {
                    background-color: $blanco;
                    border: 1px solid $turquesa;

                    .ico-arrow-forward {
                        transition: .3;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}


main {
    width: 100vw;
    max-width: $maxw-mobile;
    min-width: $minw-mobile;

    margin: auto;


    .social-media {
        margin: 38px 0px;
        text-align: center;
        padding: 0px 16px;

        .social-media--container {
            display: flex;
            flex-direction: column;

            .div-today-luck {
                margin: 58px 0px;
                padding: 0px 16px;

                .foto {
                    border-radius: 10rem;
                    width: 15rem;
                    height: auto;
                    background-color: var(--gris);
                    box-shadow: -1rem 0 3rem rgb(0, 0, 0, 0.3);

                }

                .live_texto {
                    font-size: 3rem;
                    margin: 1rem;
                }

                .live_texto--mentoria {
                    color: $orange;
                    font-weight: 700;
                    font-size: 3.2rem;
                    text-decoration: underline;
                }

                .animated_live {
                    width: 100%;
                    height: 250px;
                }

                .schedule-lives {
                    width: 100%;
                    height: fit-content;

                    text-align: center;

                    p {
                        font-size: 2.4rem;
                    }

                    .live_texto {
                        font-weight: 500;
                        color: $orange;
                    }
                }

            }

            .social-buttons {
                width: 100%;

                .iconos_redes {
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-right: 0.5em;
                }

                .iconos_redes_r {
                    width: 15rem;
                    height: 15rem;
                    margin: 0rem 2rem;
                }

                .botones_redes {
                    border: 1px solid $gray-soft;
                    box-shadow: $box-shadow-small;
                    background-color: $blanco;
                    padding: 1rem 1.8rem;
                    margin-top: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $font-family-poppins;
                    font-size: 1.7rem;
                    text-decoration: none;

                    color: $black-soft;


                    &:hover {
                        background-color: $gray-soft;

                    }

                    .ico-live {
                        display: flex;
                        margin-left: 8px;
                    }

                }
            }
        }

        .h2--subtitle {
            margin: 12px 0px;
            display: inline-block;
            @extend %h2;
        }




    }

    .mentoria-contenedor {
        background-color: $gray-very-soft;
        padding: 32px 16px;
        height: fit-content;

        .h2--subtitle {
            font-size: 2.4rem;
            text-align: center;
            @extend %h2;
        }

        .mentoria_contenido {
            font-size: $font-size-paragraph;
            display: flex;
            flex-direction: column;

            text-align: left;
            width: 100%;

            align-content: center;
            justify-content: space-between;

            ul {
                li {
                    list-style: none;
                    margin: 18px 0px;
                    display: flex;
                    flex-direction: row;

                    .mentoria_texto {
                        padding: 0rem;
                        font-weight: 500;
                        // display: flex;
                        justify-content: left;
                        align-items: center;
                        // width: 330px;

                    }

                    .visto {
                        margin-right: 8px;
                        @include ico_img(2.0rem, 2.4rem, "../assets/ico/done-ico.svg");
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .mentoria_texto-recordatorio {
                        display: flex;

                    }

                    .ico-rojo {
                        margin-right: 8px;
                        @include ico_img(20px, 24px, "../imagenes/puntorojo.png");
                    }


                }
            }

        }

    }

    .about_me {
        width: 100%;
        height: fit-content;
        padding: 0px 16px;
        text-align: center;
        margin: 38px 0px;
        font-size: 1.7rem;
        font-family: $font-family-poppins;

        .h2_subtitle {
            margin: 12px 0px;
            @extend %h2;
        }

        .div-container--video {
            width: 100%;

            margin-top: 24px;

            border-radius: 2rem;

            .video {
                border-radius: 2rem;
                width: 100%;
                box-shadow: $box-shadow-small;
            }
        }


        .marco {


            font-weight: 500;
            border-radius: 2rem;
            box-shadow: $box-shadow-small;

            img {
                border-radius: 100%;
                margin: 24px 0px;
            }

            .about-me--text {

                padding: 24px;
                margin: 24px 0px;
                display: inline-block;

                p {
                    margin: 12px 0px;
                }
            }

            .resaltado {
                background-color: $black-soft;
                color: $blanco;
                padding: 2rem 1rem;
                margin-bottom: 24px;
                font-weight: 700;
                font-size: 2.4rem;
                text-align: center;
            }


        }

    }

    .section-catalogo {
        background-color: $gray-very-soft;
        padding: 32px 16px;
        height: fit-content;
        text-align: center;

        .h2_subtitle {
            @extend %h2;
        }

        .button {

            border: 1px solid $turquesa;
            background-color: $turquesa;
            color: $negro;
            width: 100%;
            padding: 16px 24px;
            margin-top: 3rem;
            font-weight: 600;
            border-radius: 6px;
            text-decoration: none;
            display: flex;
            font-size: 1.7rem;
            justify-content: center;

            .ico-arrow-forward {
                margin-left: 12px;
                @include ico_img(24px, 24px, "../assets/ico/cart-icon.svg")
            }

            &:hover {
                background-color: $blanco;
                border: 1px solid $turquesa;

                .ico-arrow-forward {
                    transition: .3s;

                }
            }
        }
    }

}




footer {
    width: 100vw;
    max-width: $maxw-mobile;
    min-width: $minw-mobile;
    background-color: $black-soft;
    text-align: center;
    margin: auto;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 50% 0 0;

    .span-logo {
        font-size: 1.7rem;
        color: $blanco;
        font-weight: 500;
        display: inline-block;
        margin: auto;
    }
}


@media screen and (max-width:992px) and (min-width:576px) {
    .encabezado {
        width: 100vw;
        max-width: none;


        nav {
            width: 100%;
        }

        .section-hero {
            .div-hero--slogan {
                display: inline-block;
                margin-top: 90px;
                text-align: center;
                height: fit-content;

                h1 {
                    font-size: 6rem;
                }

                p {
                    font-size: 1.8rem;
                }


                .div-clok--container {

                    margin: 12px auto;

                    height: fit-content;
                    width: fit-content;
                    //background-color: $turquesa_transparent;
                    //border-radius: 12px;
                    //box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75) inset;


                    .text-rewards-halvin {
                        font-family: $font-family-poppins;
                        color: $black-soft;
                        font-weight: 700;
                    }

                    .text-halvin {
                        font-family: $font-family-poppins;
                        color: $black-soft;
                        font-weight: 700;
                    }


                    .clock {

                        width: 100%;
                    }

                    .flip-clock-wrapper {
                        margin: 16px 0px;

                        ul {
                            margin: 3px;

                            li {
                                line-height: 85px;

                                a {
                                    .up {

                                        .inn {
                                            font-size: 70px;
                                        }

                                    }

                                    .down {
                                        .inn {
                                            font-size: 70px;
                                        }
                                    }
                                }
                            }
                        }

                        .flip-clock-divider {
                            width: 10px;
                            height: 90px;

                            .flip-clock-label {
                                right: -50px;
                            }


                        }

                        .days {
                            width: 0px;
                        }

                        .hours {
                            .flip-clock-dot {
                                left: 0;
                            }

                            .top {
                                top: 30px;
                            }

                            .bottom {
                                top: 50px;
                            }
                        }

                        .minutes {
                            .flip-clock-dot {
                                left: 0;
                            }

                            .top {
                                top: 30px;
                            }

                            .bottom {
                                top: 50px;
                            }
                        }

                        .seconds {
                            .flip-clock-dot {
                                left: 0;
                            }

                            .top {
                                top: 30px;
                            }

                            .bottom {
                                top: 50px;
                            }
                        }


                    }

                    .clock {

                        .flip {
                            width: 50px;
                            height: 80px;
                        }
                    }

                }

                div {
                    h1 {
                        font-size: 4.8rem;
                    }
                }

                .button {
                    width: 300px;
                    font-size: 2.2rem;
                    margin: auto;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                }
            }
        }


    }

    main {
        width: 100vw;
        max-width: none;

        .social-media {
            width: 100%;

            .h2--subtitle {
                font-size: 30px;
            }

            .social-media--container {
                flex-direction: row;

                .div-today-luck {
                    margin-top: 24px;
                    width: 50%;

                    .foto {
                        width: 130px;
                        height: 130px;
                    }

                    .animated_live {
                        width: 180px;
                        height: 120px;
                    }

                    .schedule-lives {
                        width: 100%;
                        height: 100%;

                        p {
                            font-size: 2.4rem;
                            color: $orange;
                            font-weight: 500;
                        }

                    }
                }

                .social-buttons {
                    width: 50%;
                }


            }



        }

        .mentoria-contenedor {
            padding: 20px;

            .h2--subtitle {
                font-size: 30px;
            }

            .mentoria_contenido {

                ul {
                    li {
                        .visto {
                            width: 3.0rem;
                            height: 3.0rem;
                        }

                        .mentoria_texto {
                            font-size: 2.2rem;
                        }
                    }
                }



            }
        }

        .about_me {
            .h2_subtitle {
                font-size: 3.0rem;
            }

            .redes_contenido {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;
                margin-top: 2.4rem;
                gap: 24px;


                .marco {
                    height: 830px;

                    .about-me--text {
                        font-size: 2.4rem;
                    }
                }

                .div-container--video {
                    margin-top: 0px;
                }

            }
        }


    }

    footer {
        width: 100vw;
        height: 75px;
        max-width: none;

    }

}


@media screen and (width>993px) {


    %h2_subtitle {
        font-size: 3rem;
    }

    .encabezado {
        width: 100vw;
        max-width: none;


        nav {
            width: 100%;
            padding: 0rem 10%;
        }

        .section-hero {

            .div-hero--slogan {
                display: inline-block;
                margin-top: 100px;
                top: calc(40vh - 310px);
                text-align: center;
                height: fit-content;
                padding: 0em 10rem;

                h1 {
                    font-size: 7rem;
                }

                p {
                    font-size: 2rem;
                }

                .div-clok--container {

                    margin: 12px auto;

                    height: fit-content;
                    width: fit-content;
                    //background-color: $turquesa_transparent;
                    //border-radius: 12px;
                    //box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75) inset;


                    .text-rewards-halvin {
                        font-family: $font-family-poppins;
                        color: $black-soft;
                        font-weight: 700;
                    }

                    .text-halvin {
                        font-family: $font-family-poppins;
                        color: $black-soft;
                        font-weight: 700;
                    }


                    .clock {

                        width: 100%;
                    }

                    .flip-clock-wrapper {
                        margin: 16px 0px;

                        ul {
                            margin: 5px;

                            li {
                                line-height: 87px;

                                a {
                                    .up {

                                        .inn {
                                            font-size: 80px;
                                        }

                                    }

                                    .down {
                                        .inn {
                                            font-size: 80px;
                                        }
                                    }
                                }
                            }
                        }

                        .flip-clock-divider {
                            width: 10px;
                            height: 90px;

                            .flip-clock-label {
                                right: -50px;
                            }


                        }

                        .days {
                            width: 0px;
                        }

                        .hours {
                            .flip-clock-dot {
                                left: 0;
                            }

                            .top {
                                top: 40px;
                            }

                            .bottom {
                                top: 60px;
                            }
                        }

                        .minutes {
                            @extend .hours;
                        }

                        .seconds {
                            @extend .hours;
                        }


                    }

                    .clock {

                        .flip {
                            width: 60px;
                            height: 90px;
                        }
                    }

                }

                .button {
                    width: 300px;
                    font-size: 2.2rem;
                    margin: auto;
                    margin-top: 40px;
                    display: flex;
                    align-items: center;
                }
            }
        }


    }


    main {
        width: 100vw;
        max-width: none;
        background-color: red;

        .social-media {
            margin-top: 4.8rem;
            width: 100vw;
            padding: 0px 10%;

            .h2--subtitle {
                @extend %h2_subtitle;
            }

            .social-media--container {
                flex-direction: row;

                .div-today-luck {
                    margin-top: 24px;
                    width: 50%;

                    .foto {
                        width: 130px;
                        height: 130px;
                    }

                    .animated_live {
                        margin: auto;
                        width: 180px;
                        height: 120px;
                    }

                    .schedule-lives {
                        width: 100%;
                        height: fit-content;

                        p {
                            font-size: 2.4rem;
                            color: $orange;
                            font-weight: 500;
                        }

                    }
                }

                .social-buttons {
                    width: 50%;
                }


            }


        }

        .mentoria-contenedor {
           
            .h2--subtitle {
                @extend %h2_subtitle;
            }

            .mentoria_contenido {
                margin: auto;
                padding: 0px;
                display: flex;
                ul {
                    li {
                        .visto {
                            width: 3.0rem;
                            height: 3.0rem;
                        }

                        .mentoria_texto {
                            font-size: 2rem;
                        }
                    }
                }
                .man-with-btc{
                    margin: auto;
                }



            }
        }

        .about_me {
            padding: 0rem 10%;
            height: fit-content;
            margin: 38px auto;

            .h2_subtitle {
                @extend %h2_subtitle;
            }

            .redes_contenido {
                display: grid;
                grid-template-columns: 50% 50%;
                justify-content: center;
                align-items: center;
                margin-top: 2.4rem;
                gap: 10px;
                margin: auto;
                width: fit-content;


                .marco {

                    width: 400px;
                    height: 100%;

                    .about-me--text {
                        font-size: 2.4rem;
                    }
                }

                .div-container--video {
                    margin-top: 0px;
                    width: fit-content;
                    width: 400px;

                    .video {
                        width: 100%;
                        height: 100%;
                    }
                }

            }
        }

        .section-catalogo {
            height: fit-content;
            width: 100%;
            // padding: 3.2rem 10%;

            .h2_subtitle {
                @extend %h2_subtitle;
            }

            .carousel {
                margin: auto;
                width: 500px;
            }

            .button {
                margin: 32px auto;
                width: 300px;
            }
        }

    }

    footer {
        max-width: none;
        height: 75px;
        border-radius: 0px;
    }



}