main .section-catalogo .h2_subtitle, main .about_me .h2_subtitle, main .mentoria-contenedor .h2--subtitle, main .social-media .h2--subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
*,
*:before,
*:after {
    box-sizing: inherit;
}
*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.encabezado {
  width: 100vw;
  height: 100vh;
  max-width: 576px;
  min-width: 320px;
  margin: auto;
}
.encabezado nav {
  background-color: #101114;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
.encabezado nav .span-logo {
  font-size: 2.4rem;
  color: #FFFFFF;
  font-weight: 700;
}
.encabezado nav .ico-menu {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../assets/ico/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.encabezado .section-hero {
  width: 100%;
  height: calc(100vh - 75px);
  position: relative;
}
.encabezado .section-hero .div-hero--img {
  /*fondo calavera btc*/
  background-image: url("../imagenes/BTC-greenopease-mobile.jpg");
  filter: opacity(0.5) blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.encabezado .section-hero .div-hero--slogan {
  padding: 0px 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.encabezado .section-hero .div-hero--slogan h1 {
  font-size: 4.2rem;
  font-weight: 700;
}
.encabezado .section-hero .div-hero--slogan p {
  text-align: center;
  font-size: 1.7rem;
}
.encabezado .section-hero .div-hero--slogan .button {
  /*botones turquezas*/
  border: 1px solid #3EF2D0;
  background-color: #3EF2D0;
  color: #000000;
  width: 100%;
  padding: 16px 24px;
  margin-top: 3rem;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
}
.encabezado .section-hero .div-hero--slogan .button .ico-arrow-forward {
  margin-left: 12px;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../assets/ico/arrow_forward.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.encabezado .section-hero .div-hero--slogan .button:hover {
  background-color: #FFFFFF;
  border: 1px solid #3EF2D0;
}
.encabezado .section-hero .div-hero--slogan .button:hover .ico-arrow-forward {
  transition: 0.3;
  transform: rotate(-45deg);
}

main {
  width: 100vw;
  max-width: 576px;
  min-width: 320px;
  margin: auto;
}
main .social-media {
  margin: 38px 0px;
  text-align: center;
  padding: 0px 16px;
}
main .social-media .social-media--container .div-lives {
  margin: 58px 0px;
  padding: 0px 16px;
}
main .social-media .social-media--container .div-lives .foto {
  border-radius: 10rem;
  width: 15rem;
  height: auto;
  background-color: var(--gris);
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.3);
}
main .social-media .social-media--container .div-lives .live_texto {
  font-size: 3rem;
  margin: 1rem;
}
main .social-media .social-media--container .div-lives .live_texto--mentoria {
  color: #F5515F;
  font-weight: 700;
  font-size: 3.2rem;
  text-decoration: underline;
}
main .social-media .social-media--container .div-lives .animated_live {
  width: 100%;
  height: 250px;
}
main .social-media .social-media--container .div-lives .schedule-lives {
  width: 100%;
  height: 450px;
  background-image: linear-gradient(to right, #F5515F, #9F046C);
  padding: 16px;
  border-radius: 16px 30% 16px 30%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 32px -7px rgba(0, 0, 0, 0.75);
}
main .social-media .social-media--container .div-lives .schedule-lives .live_texto {
  font-weight: 700;
  color: #FFFFFF;
}
main .social-media .social-media--container .social-buttons .iconos_redes {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5em;
}
main .social-media .social-media--container .social-buttons .iconos_redes_r {
  width: 15rem;
  height: 15rem;
  margin: 0rem 2rem;
}
main .social-media .social-media--container .social-buttons .botones_redes {
  border: 1px solid #c2c6c7;
  box-shadow: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
  background-color: #FFFFFF;
  padding: 1rem 1.8rem;
  margin-top: 2rem;
  border-radius: 0.6rem;
  margin-top: 0rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
}
main .social-media .social-media--container .social-buttons .botones_redes a {
  text-decoration: none;
  color: #101114;
}
main .social-media .social-media--container .social-buttons .botones_redes:hover {
  background-color: #c2c6c7;
}
main .social-media .social-media--container .social-buttons .botones_redes .ico-live {
  display: flex;
  margin-left: 8px;
}
main .social-media .h2--subtitle {
  margin: 12px 0px;
  display: inline-block;
}
main .mentoria-contenedor {
  background-color: #fafafa;
  padding: 32px 16px;
  height: -moz-fit-content;
  height: fit-content;
}
main .mentoria-contenedor .h2--subtitle {
  font-size: 2.4rem;
  text-align: center;
}
main .mentoria-contenedor .mentoria_contenido {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}
main .mentoria-contenedor .mentoria_contenido ul li {
  list-style: none;
  margin: 18px 0px;
  display: flex;
  flex-direction: row;
}
main .mentoria-contenedor .mentoria_contenido ul li .mentoria_texto {
  padding: 0rem;
  font-weight: 500;
  justify-content: left;
  align-items: center;
}
main .mentoria-contenedor .mentoria_contenido ul li .visto {
  margin-right: 8px;
  display: flex;
  width: 2rem;
  height: 2.4rem;
  background-image: url("../assets/ico/done-ico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mentoria-contenedor .mentoria_contenido ul li .mentoria_texto-recordatorio {
  display: flex;
}
main .mentoria-contenedor .mentoria_contenido ul li .ico-rojo {
  margin-right: 8px;
  display: flex;
  width: 20px;
  height: 24px;
  background-image: url("../imagenes/puntorojo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main .about_me {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 16px;
  text-align: center;
  margin: 38px 0px;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
main .about_me .h2_subtitle {
  margin: 12px 0px;
}
main .about_me .div-container--video {
  width: 100%;
  margin-top: 24px;
  border-radius: 2rem;
}
main .about_me .div-container--video .video {
  border-radius: 2rem;
  width: 100%;
  box-shadow: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
}
main .about_me .marco {
  font-weight: 500;
  border-radius: 2rem;
  box-shadow: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
}
main .about_me .marco img {
  border-radius: 100%;
  margin: 24px 0px;
}
main .about_me .marco .about-me--text {
  padding: 24px;
  margin: 24px 0px;
  display: inline-block;
}
main .about_me .marco .about-me--text p {
  margin: 12px 0px;
}
main .about_me .marco .resaltado {
  background-color: #101114;
  color: #FFFFFF;
  padding: 2rem 1rem;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
}
main .section-catalogo {
  background-color: #fafafa;
  padding: 32px 16px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
main .section-catalogo .button {
  border: 1px solid #3EF2D0;
  background-color: #3EF2D0;
  color: #000000;
  width: 100%;
  padding: 16px 24px;
  margin-top: 3rem;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
}
main .section-catalogo .button .ico-arrow-forward {
  margin-left: 12px;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../assets/ico/cart-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main .section-catalogo .button:hover {
  background-color: #FFFFFF;
  border: 1px solid #3EF2D0;
}
main .section-catalogo .button:hover .ico-arrow-forward {
  transition: 0.3s;
}

footer {
  width: 100vw;
  max-width: 576px;
  min-width: 320px;
  background-color: #101114;
  text-align: center;
  margin: auto;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 50% 0 0;
}
footer .span-logo {
  font-size: 1.7rem;
  color: #FFFFFF;
  font-weight: 500;
  display: inline-block;
  margin: auto;
}

@media screen and (max-width: 992px) and (min-width: 576px) {
  .encabezado {
    width: 100vw;
    max-width: none;
  }
  .encabezado nav {
    width: 100%;
  }
  .encabezado .section-hero .div-hero--slogan {
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .encabezado .section-hero .div-hero--slogan h1 {
    font-size: 7rem;
  }
  .encabezado .section-hero .div-hero--slogan p {
    font-size: 2rem;
  }
  .encabezado .section-hero .div-hero--slogan .button {
    width: 300px;
    font-size: 2.2rem;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  main {
    width: 100vw;
    max-width: none;
  }
  main .social-media {
    width: 100%;
  }
  main .social-media .h2--subtitle {
    font-size: 30px;
  }
  main .social-media .social-media--container {
    height: 100%;
  }
  main .social-media .social-media--container .social-buttons {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 12px;
  }
  main .social-media .social-media--container .div-lives {
    display: flex;
    height: 568px;
  }
  main .social-media .social-media--container .div-lives .div-today-luck {
    width: 50%;
  }
  main .social-media .social-media--container .div-lives .div-today-luck .animated_live {
    width: 100%;
  }
  main .social-media .social-media--container .div-lives .schedule-lives {
    width: 50%;
    height: 100%;
  }
  main .social-media .social-media--container .div-lives .schedule-lives p {
    font-size: 38px;
  }
  main .mentoria-contenedor {
    padding: 20px;
  }
  main .mentoria-contenedor .h2--subtitle {
    font-size: 30px;
  }
  main .mentoria-contenedor .mentoria_contenido ul li .visto {
    width: 3rem;
    height: 3rem;
  }
  main .mentoria-contenedor .mentoria_contenido ul li .mentoria_texto {
    font-size: 2.2rem;
  }
  main .about_me .h2_subtitle {
    font-size: 3rem;
  }
  main .about_me .redes_contenido {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 2.4rem;
    gap: 12px;
  }
  main .about_me .redes_contenido .marco {
    height: 830px;
  }
  main .about_me .redes_contenido .marco .about-me--text {
    font-size: 2.4rem;
  }
  main .about_me .redes_contenido .div-container--video {
    margin-top: 0px;
  }
  footer {
    width: 100vw;
    max-width: none;
  }
}
@media screen and (width > 993px) {
  .encabezado {
    width: 100vw;
    max-width: none;
  }
  .encabezado nav {
    width: 100%;
    padding: 0rem 10%;
  }
  .encabezado .section-hero .div-hero--slogan {
    display: inline-block;
    margin-top: 100px;
    top: calc(50vh - 310px);
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0em 15rem;
  }
  .encabezado .section-hero .div-hero--slogan h1 {
    font-size: 7rem;
  }
  .encabezado .section-hero .div-hero--slogan p {
    font-size: 2rem;
  }
  .encabezado .section-hero .div-hero--slogan .button {
    width: 300px;
    font-size: 2.2rem;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  main {
    width: 100vw;
    max-width: none;
  }
  main .social-media {
    margin-top: 4.8rem;
    width: 100%;
    padding: 0px 10%;
  }
  main .social-media .h2--subtitle {
    font-size: 4.8rem;
  }
  main .social-media .social-media--container {
    height: 100%;
  }
  main .social-media .social-media--container .social-buttons {
    margin-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
  }
  main .social-media .social-media--container .div-lives {
    display: flex;
    height: 568px;
    justify-content: space-evenly;
  }
  main .social-media .social-media--container .div-lives .div-today-luck {
    width: 50%;
  }
  main .social-media .social-media--container .div-lives .div-today-luck .animated_live {
    width: 100%;
  }
  main .social-media .social-media--container .div-lives .schedule-lives {
    width: 50%;
    height: 100%;
  }
  main .social-media .social-media--container .div-lives .schedule-lives p {
    font-size: 38px;
    text-align: center;
  }
  main .mentoria-contenedor {
    padding: 8rem 20rem;
  }
  main .mentoria-contenedor .h2--subtitle {
    font-size: 4.8rem;
  }
  main .mentoria-contenedor .mentoria_contenido ul li .visto {
    width: 3rem;
    height: 3rem;
  }
  main .mentoria-contenedor .mentoria_contenido ul li .mentoria_texto {
    font-size: 2.2rem;
  }
  main .about_me {
    padding: 0rem 10%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 38px auto;
  }
  main .about_me .h2_subtitle {
    font-size: 4.8rem;
  }
  main .about_me .redes_contenido {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2.4rem;
    gap: 10px;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .about_me .redes_contenido .marco {
    width: 400px;
    height: 100%;
  }
  main .about_me .redes_contenido .marco .about-me--text {
    font-size: 2.4rem;
  }
  main .about_me .redes_contenido .div-container--video {
    margin-top: 0px;
    width: -moz-fit-content;
    width: fit-content;
    width: 400px;
  }
  main .about_me .redes_contenido .div-container--video .video {
    width: 100%;
    height: 100%;
  }
  main .section-catalogo {
    height: -moz-fit-content;
    height: fit-content;
    padding: 3.2rem 10%;
  }
  main .section-catalogo .h2_subtitle {
    font-size: 4.8rem;
  }
  main .section-catalogo .carousel {
    margin: auto;
    width: 50%;
  }
  main .section-catalogo .button {
    margin: 32px auto;
    width: 300px;
  }
  footer {
    max-width: none;
    border-radius: 0px;
  }
}/*# sourceMappingURL=main.css.map */