main .section-catalogo .h2_subtitle, main .about_me .h2_subtitle, main .mentoria-contenedor .h2--subtitle, main .social-media .h2--subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.encabezado {
  width: 100vw;
  height: 100vh;
  max-width: 576px;
  min-width: 320px;
  margin: auto;
}
.encabezado nav {
  background-color: #101114;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
.encabezado nav .span-logo {
  font-size: 2.4rem;
  color: #FFFFFF;
  font-weight: 700;
}
.encabezado nav .ico-menu {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../assets/ico/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.encabezado .section-hero {
  width: 100%;
  height: calc(100vh - 75px);
  position: relative;
}
.encabezado .section-hero .div-hero--img {
  /*fondo calavera btc*/
  background-image: url("../imagenes/BTC-greenopease-mobile.jpg");
  filter: opacity(0.5) blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.encabezado .section-hero .div-hero--slogan {
  padding: 0px 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  /* Halvin clock*/
}
.encabezado .section-hero .div-hero--slogan h1 {
  font-size: 4.2rem;
  font-weight: 700;
}
.encabezado .section-hero .div-hero--slogan p {
  text-align: center;
  font-size: 1.7rem;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container {
  margin: 12px auto;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .text-rewards-halvin {
  font-family: "Poppins", sans-serif;
  color: #101114;
  font-weight: 700;
  margin-top: 0px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .text-halvin {
  font-family: "Poppins", sans-serif;
  color: #101114;
  font-weight: 700;
  margin-bottom: 36px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .clock {
  width: 100%;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper {
  margin: 16px 0px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul {
  margin: 2px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li {
  line-height: 65px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li a .up .inn {
  font-size: 40px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li a .down .inn {
  font-size: 40px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .flip-clock-divider {
  width: 10px;
  height: 90px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
  right: -50px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .days {
  width: 0px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .flip-clock-dot, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .flip-clock-dot, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .flip-clock-dot {
  left: 0;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .top, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .top, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .top {
  top: 20px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .bottom, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .bottom, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .bottom {
  top: 40px;
}
.encabezado .section-hero .div-hero--slogan .div-clok--container .clock .flip {
  width: 30px;
  height: 60px;
}
.encabezado .section-hero .div-hero--slogan .button {
  /*botones turquezas*/
  border: 1px solid #3EF2D0;
  background-color: #3EF2D0;
  color: #000000;
  width: 100%;
  padding: 16px 24px;
  margin-top: 3rem;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
}
.encabezado .section-hero .div-hero--slogan .button .ico-arrow-forward {
  margin-left: 12px;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../assets/ico/arrow_forward.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.encabezado .section-hero .div-hero--slogan .button:hover {
  background-color: #FFFFFF;
  border: 1px solid #3EF2D0;
}
.encabezado .section-hero .div-hero--slogan .button:hover .ico-arrow-forward {
  transition: 0.3;
  transform: rotate(-45deg);
}

main {
  width: 100vw;
  max-width: 576px;
  min-width: 320px;
  margin: auto;
}
main .social-media {
  margin: 38px 0px;
  text-align: center;
  padding: 0px 16px;
}
main .social-media .social-media--container {
  display: flex;
  flex-direction: column;
}
main .social-media .social-media--container .div-today-luck {
  margin: 58px 0px;
  padding: 0px 16px;
}
main .social-media .social-media--container .div-today-luck .foto {
  border-radius: 10rem;
  width: 15rem;
  height: auto;
  background-color: var(--gris);
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.3);
}
main .social-media .social-media--container .div-today-luck .live_texto {
  font-size: 3rem;
  margin: 1rem;
}
main .social-media .social-media--container .div-today-luck .live_texto--mentoria {
  color: #F5515F;
  font-weight: 700;
  font-size: 3.2rem;
  text-decoration: underline;
}
main .social-media .social-media--container .div-today-luck .animated_live {
  width: 100%;
  height: 250px;
}
main .social-media .social-media--container .div-today-luck .schedule-lives {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
main .social-media .social-media--container .div-today-luck .schedule-lives p {
  font-size: 2.4rem;
}
main .social-media .social-media--container .div-today-luck .schedule-lives .live_texto {
  font-weight: 500;
  color: #F5515F;
}
main .social-media .social-media--container .social-buttons {
  width: 100%;
}
main .social-media .social-media--container .social-buttons .iconos_redes {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5em;
}
main .social-media .social-media--container .social-buttons .iconos_redes_r {
  width: 15rem;
  height: 15rem;
  margin: 0rem 2rem;
}
main .social-media .social-media--container .social-buttons .botones_redes {
  border: 1px solid #c2c6c7;
  box-shadow: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
  background-color: #FFFFFF;
  padding: 1rem 1.8rem;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
  color: #101114;
}
main .social-media .social-media--container .social-buttons .botones_redes:hover {
  background-color: #c2c6c7;
}
main .social-media .social-media--container .social-buttons .botones_redes .ico-live {
  display: flex;
  margin-left: 8px;
}
main .social-media .h2--subtitle {
  margin: 12px 0px;
  display: inline-block;
}
main .mentoria-contenedor {
  background-color: #fafafa;
  padding: 32px 16px;
  height: -moz-fit-content;
  height: fit-content;
}
main .mentoria-contenedor .h2--subtitle {
  font-size: 2.4rem;
  text-align: center;
}
main .mentoria-contenedor .mentoria_contenido {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}
main .mentoria-contenedor .mentoria_contenido div ul li {
  list-style: none;
  margin: 18px 0px;
  display: flex;
  flex-direction: row;
}
main .mentoria-contenedor .mentoria_contenido div ul li .mentoria_texto {
  padding: 0rem;
  font-weight: 500;
  justify-content: left;
  align-items: center;
}
main .mentoria-contenedor .mentoria_contenido div ul li .visto {
  margin-right: 8px;
  display: flex;
  width: 2rem;
  height: 2.4rem;
  background-image: url("../assets/ico/done-ico.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .mentoria-contenedor .mentoria_contenido div ul li .mentoria_texto-recordatorio {
  display: flex;
}
main .mentoria-contenedor .mentoria_contenido div ul li .ico-rojo {
  margin-right: 8px;
  display: flex;
  width: 20px;
  height: 24px;
  background-image: url("../imagenes/puntorojo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main .mentoria-contenedor .mentoria_contenido div .man-with-btc {
  display: none;
}
main .about_me {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0px 16px;
  text-align: center;
  margin: 38px 0px;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
main .about_me .h2_subtitle {
  margin: 12px 0px;
}
main .about_me .div-container--video {
  width: 100%;
  margin-top: 24px;
  border-radius: 2rem;
}
main .about_me .div-container--video .video {
  border-radius: 2rem;
  width: 100%;
  box-shadow: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
}
main .about_me .marco {
  font-weight: 500;
  border-radius: 2rem;
  box-shadow: 0px 1px 12px -7px rgba(0, 0, 0, 0.75);
}
main .about_me .marco img {
  border-radius: 100%;
  margin: 24px 0px;
}
main .about_me .marco .about-me--text {
  padding: 24px;
  margin: 24px 0px;
  display: inline-block;
}
main .about_me .marco .about-me--text p {
  margin: 12px 0px;
}
main .about_me .marco .resaltado {
  background-color: #101114;
  color: #FFFFFF;
  padding: 2rem 1rem;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
}
main .section-catalogo {
  background-color: #fafafa;
  padding: 32px 16px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
main .section-catalogo .button {
  border: 1px solid #3EF2D0;
  background-color: #3EF2D0;
  color: #000000;
  width: 100%;
  padding: 16px 24px;
  margin-top: 3rem;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
}
main .section-catalogo .button .ico-arrow-forward {
  margin-left: 12px;
  display: flex;
  width: 24px;
  height: 24px;
  background-image: url("../assets/ico/cart-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
main .section-catalogo .button:hover {
  background-color: #FFFFFF;
  border: 1px solid #3EF2D0;
}
main .section-catalogo .button:hover .ico-arrow-forward {
  transition: 0.3s;
}

footer {
  width: 100vw;
  max-width: 576px;
  min-width: 320px;
  background-color: #101114;
  text-align: center;
  margin: auto;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 50% 0 0;
}
footer .span-logo {
  font-size: 1.7rem;
  color: #FFFFFF;
  font-weight: 500;
  display: inline-block;
  margin: auto;
}

@media screen and (max-width: 992px) and (min-width: 576px) {
  .encabezado {
    width: 100vw;
    max-width: none;
  }
  .encabezado nav {
    width: 100%;
  }
  .encabezado .section-hero .div-hero--slogan {
    display: inline-block;
    margin-top: 90px;
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .encabezado .section-hero .div-hero--slogan h1 {
    font-size: 6rem;
  }
  .encabezado .section-hero .div-hero--slogan p {
    font-size: 1.8rem;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container {
    margin: 12px auto;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .text-rewards-halvin {
    font-family: "Poppins", sans-serif;
    color: #101114;
    font-weight: 700;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .text-halvin {
    font-family: "Poppins", sans-serif;
    color: #101114;
    font-weight: 700;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .clock {
    width: 100%;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper {
    margin: 16px 0px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul {
    margin: 3px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li {
    line-height: 85px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li a .up .inn {
    font-size: 70px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li a .down .inn {
    font-size: 70px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .flip-clock-divider {
    width: 10px;
    height: 90px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    right: -50px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .days {
    width: 0px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .flip-clock-dot, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .flip-clock-dot, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .flip-clock-dot {
    left: 0;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .top, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .top, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .top {
    top: 30px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .bottom, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .bottom, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .bottom {
    top: 50px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .flip-clock-dot {
    left: 0;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .top {
    top: 30px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .bottom {
    top: 50px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .flip-clock-dot {
    left: 0;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .top {
    top: 30px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .bottom {
    top: 50px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .clock .flip {
    width: 50px;
    height: 80px;
  }
  .encabezado .section-hero .div-hero--slogan div h1 {
    font-size: 4.8rem;
  }
  .encabezado .section-hero .div-hero--slogan .button {
    width: 300px;
    font-size: 2.2rem;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  main {
    width: 100vw;
    max-width: none;
  }
  main .social-media {
    width: 100%;
  }
  main .social-media .h2--subtitle {
    font-size: 30px;
  }
  main .social-media .social-media--container {
    flex-direction: row;
  }
  main .social-media .social-media--container .div-today-luck {
    margin-top: 24px;
    width: 50%;
  }
  main .social-media .social-media--container .div-today-luck .foto {
    width: 130px;
    height: 130px;
  }
  main .social-media .social-media--container .div-today-luck .animated_live {
    width: 180px;
    height: 120px;
  }
  main .social-media .social-media--container .div-today-luck .schedule-lives {
    width: 100%;
    height: 100%;
  }
  main .social-media .social-media--container .div-today-luck .schedule-lives p {
    font-size: 2.4rem;
    color: #F5515F;
    font-weight: 500;
  }
  main .social-media .social-media--container .social-buttons {
    width: 50%;
  }
  main .mentoria-contenedor {
    padding: 20px;
  }
  main .mentoria-contenedor .h2--subtitle {
    font-size: 30px;
  }
  main .mentoria-contenedor .mentoria_contenido div ul li .visto {
    width: 3rem;
    height: 3rem;
  }
  main .mentoria-contenedor .mentoria_contenido div ul li .mentoria_texto {
    font-size: 2.2rem;
  }
  main .mentoria-contenedor .mentoria_contenido .man-with-btc {
    display: none;
  }
  main .about_me .h2_subtitle {
    font-size: 3rem;
  }
  main .about_me .redes_contenido {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin-top: 2.4rem;
    gap: 24px;
  }
  main .about_me .redes_contenido .marco {
    height: 830px;
  }
  main .about_me .redes_contenido .marco .about-me--text {
    font-size: 2.4rem;
  }
  main .about_me .redes_contenido .div-container--video {
    margin-top: 0px;
  }
  footer {
    width: 100vw;
    height: 75px;
    max-width: none;
  }
}
@media screen and (width > 993px) {
  main .section-catalogo .h2_subtitle, main .about_me .h2_subtitle, main .mentoria-contenedor .h2--subtitle, main .social-media .h2--subtitle {
    font-size: 3rem;
  }
  .encabezado {
    width: 100vw;
    max-width: none;
  }
  .encabezado nav {
    width: 100%;
    padding: 0rem 10%;
  }
  .encabezado .section-hero .div-hero--slogan {
    display: inline-block;
    margin-top: 100px;
    top: calc(40vh - 310px);
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0em 10rem;
  }
  .encabezado .section-hero .div-hero--slogan h1 {
    font-size: 7rem;
  }
  .encabezado .section-hero .div-hero--slogan p {
    font-size: 2rem;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container {
    margin: 12px auto;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .text-rewards-halvin {
    font-family: "Poppins", sans-serif;
    color: #101114;
    font-weight: 700;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .text-halvin {
    font-family: "Poppins", sans-serif;
    color: #101114;
    font-weight: 700;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .clock {
    width: 100%;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper {
    margin: 16px 0px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul {
    margin: 5px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li {
    line-height: 87px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li a .up .inn {
    font-size: 80px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper ul li a .down .inn {
    font-size: 80px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .flip-clock-divider {
    width: 10px;
    height: 90px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    right: -50px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .days {
    width: 0px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .flip-clock-dot, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .flip-clock-dot, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .flip-clock-dot {
    left: 0;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .top, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .top, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .top {
    top: 40px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .hours .bottom, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .minutes .bottom, .encabezado .section-hero .div-hero--slogan .div-clok--container .flip-clock-wrapper .seconds .bottom {
    top: 60px;
  }
  .encabezado .section-hero .div-hero--slogan .div-clok--container .clock .flip {
    width: 60px;
    height: 90px;
  }
  .encabezado .section-hero .div-hero--slogan .button {
    width: 300px;
    font-size: 2.2rem;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  main {
    width: 100vw;
    max-width: none;
  }
  main .social-media {
    margin-top: 4.8rem;
    width: 100vw;
    padding: 0px 10%;
  }
  main .social-media .social-media--container {
    flex-direction: row;
  }
  main .social-media .social-media--container .div-today-luck {
    margin-top: 24px;
    width: 50%;
  }
  main .social-media .social-media--container .div-today-luck .foto {
    width: 130px;
    height: 130px;
  }
  main .social-media .social-media--container .div-today-luck .animated_live {
    margin: auto;
    width: 180px;
    height: 120px;
  }
  main .social-media .social-media--container .div-today-luck .schedule-lives {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .social-media .social-media--container .div-today-luck .schedule-lives p {
    font-size: 2.4rem;
    color: #F5515F;
    font-weight: 500;
  }
  main .social-media .social-media--container .social-buttons {
    width: 50%;
  }
  main .mentoria-contenedor .mentoria_contenido {
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }
  main .mentoria-contenedor .mentoria_contenido div {
    width: 50%;
  }
  main .mentoria-contenedor .mentoria_contenido div ul li {
    margin-top: 8px;
    margin-bottom: 0px;
  }
  main .mentoria-contenedor .mentoria_contenido div ul li .visto {
    width: 3rem;
    height: 3rem;
  }
  main .mentoria-contenedor .mentoria_contenido div ul li .mentoria_texto {
    font-size: 2rem;
  }
  main .mentoria-contenedor .mentoria_contenido .man-with-btc {
    display: block;
    height: 100%;
    margin: auto;
    border-radius: 12px 30%;
  }
  main .about_me {
    padding: 0rem 10%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 38px auto;
  }
  main .about_me .redes_contenido {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    margin-top: 2.4rem;
    gap: 10px;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  main .about_me .redes_contenido .marco {
    width: 400px;
    height: 100%;
  }
  main .about_me .redes_contenido .marco .about-me--text {
    font-size: 2.4rem;
  }
  main .about_me .redes_contenido .div-container--video {
    margin-top: 0px;
    width: -moz-fit-content;
    width: fit-content;
    width: 400px;
  }
  main .about_me .redes_contenido .div-container--video .video {
    width: 100%;
    height: 100%;
  }
  main .section-catalogo {
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  main .section-catalogo .carousel {
    margin: auto;
    width: 500px;
  }
  main .section-catalogo .button {
    margin: 32px auto;
    width: 300px;
  }
  footer {
    max-width: none;
    height: 75px;
    border-radius: 0px;
  }
}/*# sourceMappingURL=main.css.map */